canvas{
    padding-bottom: 10px;
    padding-right: 2px;
    /*width: 95%;*/
    /*height: 100%;*/
    display: block;
    outline: 1px solid #eeeeee;
}

#canvas-wrapper {
    padding-bottom: 10px;
    margin: 5px;
}

.sketch-tag{
    font-family: "Comic Sans MS";
    font-size: 7pt;
}

.image-match {
    z-index: 10;
}

#sketch {
  position: relative;
}
#sketch canvas, #sketch-layer {
  position: absolute;
}

.navbar, .nav {
  z-index: 1001;
}

.navbar .nav > li {
  z-index: 1001;
}

#results {
    position: relative;
}
#image-results, #video-reuslts {
    position: absolute;
    max-height: 1000px;
}
